<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>img0</string>
		<key>imageName</key>
		<string>img0の画像</string>
		<key>contents</key>
		<string>シンデレラ城</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img1</string>
		<key>imageName</key>
		<string>img0の画像</string>
		<key>contents</key>
		<string>ファンタジア</string>
	</dict>
	<dict>
		<key>Nimage</key>
		<string>img2</string>
		<key>imageName</key>
		<string>img2の画像</string>
		<key>contents</key>
		<string>森の中</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img3</string>
		<key>imageName</key>
		<string>img3の画像</string>
		<key>contents</key>
		<string>アイススケート</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img4</string>
		<key>imageName</key>
		<string>img4の画像</string>
		<key>contents</key>
		<string>花火</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img5</string>
		<key>imageName</key>
		<string>img5の画像</string>
		<key>contents</key>
		<string>レッドカーペット</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img6</string>
		<key>imageName</key>
		<string>img6の画像</string>
		<key>contents</key>
		<string>img2のズーム</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img7</string>
		<key>imageName</key>
		<string>img7の画像</string>
		<key>contents</key>
		<string>雨の中</string>
	</dict>
</array>
</plist>
