<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<string>img0</string>
		<string>img0の画像</string>
		<string>シンデレラ城</string>
	</array>
	<key>New item - 2</key>
	<array>
		<string>img1</string>
		<string>img0の画像</string>
		<string>ファンタジア</string>
	</array>
	<key>New item - 3</key>
	<array>
		<string>img2</string>
		<string>img2の画像</string>
		<string>森の中</string>
	</array>
	<key>New item - 4</key>
	<array>
		<string>img3</string>
		<string>img3の画像</string>
		<string>アイススケート</string>
	</array>
	<key>New item - 5</key>
	<array>
		<string>img4</string>
		<string>img4の画像</string>
		<string>花火</string>
	</array>
	<key>New item - 6</key>
	<array>
		<string>img5</string>
		<string>img5の画像</string>
		<string>レッドカーペット</string>
	</array>
	<key>New item - 7</key>
	<array>
		<string>img6</string>
		<string>img6の画像</string>
		<string>img2のズーム</string>
	</array>
	<key>New item - 8</key>
	<array>
		<string>img7</string>
		<string>img7の画像</string>
		<string>雨の中</string>
	</array>
</dict>
</plist>
